{% for item in site.data.settings.social %}
  {% assign first_char = item.link | slice: 0 %}
  {% assign label = item.label | default: item.icon %}

  {% if first_char != 'h' %}
    <a href="{{ site.baseurl }}{{ item.link }}"
       aria-label="{{ label }}">
      <i class="fa fa-{{ item.icon }}" aria-hidden="true"></i>
    </a>
  {% else %}
    <a href="{{ item.link }}"
       target="_blank"
       rel="noopener noreferrer"
       aria-label="{{ label }}">
      <i class="fa-brands fa-{{ item.icon }}" aria-hidden="true"></i>
    </a>
  {% endif %}
{% endfor %}
